/* ========================
   CSS CUSTOMIZADO
   ======================== */

/* Links padrão */
.nav-link {
    font-weight: 500;
    color: #4B5563; /* cinza médio */
    transition: color 0.2s;
}

.nav-link:hover {
    color: #1e40af; /* primary */
}

img {
    display: block;
}

/* Footer links */
footer a {
    transition: color 0.2s;
}
